:root {
    --arrow-font-size: 1.5em;
    --top-bar-size: 2em;
    --palette-off-white: #F6EEE3;
    --palette-light-tan: #EEE7D7;
    --palette-light-grey: #E5DECF;
    --palette-pink: #E5CBBA;
    --palette-brown: #D9BDA5;
    --palette-background: #dbc2a0;
    --palette-dark-brown: #c9a36f;
    --header-margin-spacing: 40px;
    --undo-margin: calc(-500%/90);
    --mobile-padding: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier Prime';
}

body {
    font-family: 'Courier Prime';
    padding-bottom: 80px;
    background-color: var(--palette-background);
}

.task-list-container {
    width: 50%;
    margin: auto;
    padding-top: 20px;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

#sort-btn.styled-btn,
#settings-btn.styled-btn {
    font-size: 16px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    background: #654321;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#sort-btn.styled-btn:hover,
#settings-btn.styled-btn:hover {
    background-color: #a37433;
    transform: translateY(-2px);
}

#sort-btn.styled-btn:active,
#settings-btn.styled-btn:active {
    background-color: #a37433;
    transform: translateY(0);
}

#add-task-btn.circle-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #654321;
    color: white;
    border: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#add-task-btn.circle-btn:hover {
    background-color: #a37433;
    transform: translateY(-2px);
}

#add-task-btn.circle-btn:active {
    background-color: #a37433;
    transform: translateY(0);
}

.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 25px;
    background-color: #f9f9f9;
}

.task-item.completed .task-name {
    text-decoration: line-through;
}

.task-name:hover {
    color: #555;
}

.task-name {
    flex-grow: 1;
    cursor: pointer;
}

.task-category,
.task-date-time,
.priority-dropdown {
    margin-left: 10px;
    cursor: pointer;
}

.task-category select,
.task-date-time input {
    display: none;
}

.delete-btn {
    display: none;
}

.task-item:hover .delete-btn {
    display: block;
}

.task-item.red {
    background-color: #FFCCCC;
}

.task-item.yellow {
    background-color: #ffff9995;
}

.task-item.green {
    background-color: #CCFFCC;
}

.task-item.blue {
    background-color: #99CCFF;
}

.task-item.purple {
    background-color: #CC99FF;
}

.task-color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

li {
    cursor: grab;
}

.task-item.completed {
    background-color: #d3d3d3;
}

.task-item.completed .task-name {
    text-decoration: line-through;
    color: #999;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 4;
    flex-shrink: 4;
    padding: 20px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--palette-dark-brown);
}

.bottom-bar a {
    text-decoration: none;
}

.bottom-bar button {
    padding: 10px 5%;
    font-size: 1em;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #e1e1e1;
}

.task-date-time input[type="date"],
.task-date-time input[type="time"] {
    display: block;
}

.sidebar {
    position: fixed;
    top: 50%;
    left: -350px;
    width: 300px;
    transform: translateY(-50%);
    height: auto;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease;
    z-index: 999;
}

.show-sidebar {
    left: 2em;
}

.sidebar button.active {
    background-color: #ddd;
}

#close-sidebar {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar button:hover {
    background-color: #ddd;
}

.sidebar .main-color-container .color-dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
    border: 1px solid #ccc;
}

.main-color-container .color-dot.selected {
    border: 3px solid #000;
}

/* Additional styles for improved appearance */
.task-category select,
.task-date-time input {
    display: block;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: auto;
}

.reorder-btn,
.delete-btn {
    background: #654321;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.reorder-btn:hover,
.delete-btn:hover {
    background-color: #a37433;
    transform: translateY(-2px);
}

.reorder-btn:active,
.delete-btn:active {
    background-color: #a37433;
    transform: translateY(0);
}

.task-item:hover .reorder-btn,
.task-item:hover .delete-btn {
    display: inline-block;
}

.task-item .delete-btn {
    display: none;
}

.task-date-time {
    margin-right: 15px; /* Adjust the value as needed */
}

.difficulty-button {
    margin-left: 15px; /* Adjust the value as needed */
}

.task-item input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%; /* Make the checkbox circular */
    cursor: pointer;
    outline: none; /* Remove default focus outline */
    transition: background-color 0.3s, border-color 0.3s;
    margin-right: 10px;
}

.task-item input[type="checkbox"]:checked {
    background-color: #654321;
    border-color: #654321; /* Change border color when checked */
}

.task-item input[type="checkbox"]:checked::after {
    content: '\2714';
    font-size: 12px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.task-item input[type="checkbox"]:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1); /* Add focus outline */
}

/* Media queries for mobile compatibility */
@media (max-width: 768px) {
    .task-list-container {
        width: 90%;
        padding-top: 10px;
    }

    .top-bar {
        flex-direction: column;
        align-items: flex-end;
    }

    #filter-btn.styled-btn
    {
        width: 40%;
        margin-bottom: 10px;
        font-size: calc(2vw + 1vh);
        
        
    }

    #add-task-btn.circle-btn {
        margin-bottom: 10px;
    }


    .task-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

   

    .task-name,
    .task-category,
    .task-date-time,
    .priority-dropdown
     {
        margin-left: 0;
        margin-bottom: 5px;
        order: 1;

    }

    .delete-btn
    {
        margin-right: 0;
        margin-left: auto;
        margin-bottom: 5px;
        order: 2;
        
    }

    
    
}