/* Basic variables used for design*/
:root{
    --arrow-font-size: 1.5em;
    --top-bar-size: 2em;
    --palette-off-white: #F6EEE3;
    --palette-light-tan: #EEE7D7;
    --palette-light-grey: #E5DECF;
    --palette-pink: #E5CBBA;
    --palette-brown: #D9BDA5;
    --palette-background: #dbc2a0;
    --palette-dark-brown: #c9a36f;
    --header-margin-spacing: 40px;
    /* Some math shit to get here i.e. -5/90 to get back to 100 but need to multiply by 100 to get -500%/90) */
    --undo-margin: calc(-500%/90);
    --tag-red: #FFCCCC;
    --tag-yellow: #FFFF99;
    --tag-green: #CCFFCC;
    --tag-blue: #99CCFF;
    --tag-purple: #CC99FF;
}

/* Adding typewriter font */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier Prime';
}

/* Overall styling for the page */
body {
    margin: 5%;
    background-color: var(--palette-background);
    height: 100%;
}

/* Header design */
h1 {
    font-size: 3em;
    display: inline;
}

/* Design for 'Tags:' and 'Task overview:' */
h2 {
    font-size: 1.5em;
    margin-top: 20px;
}

/* The top bar for arrows and settings */
.top-bar {
    display: inline-flex;
    align-items: flex-end;
    float: right;
    font-size: var(--top-bar-size);
    gap: 40px;
}

/* turn cursor to pointer for all top bar elements */
.top-bar span {
    cursor: pointer;
}

/* styling for top bar icons */
.top-bar .nav-arrows{
    height: 50px;
    width: 60px;
    margin: 0 1px;
    background: var(--palette-light-grey);
    text-align: center;
    line-height: 55px;
    border-radius: 50%;
}

/* Settings button positioning and interaction */
#settings {
    width: var(--arrow-font-size);
    float: right;
    cursor: pointer;
}


/* Sizing and spacing for the arrows in the top */
.top-bar #right-arrow {
    margin-right: 60px;
    font-size: var(--arrow-font-size);
}
.top-bar #left-arrow {

    font-size: var(--arrow-font-size);
}

/* temporary code for task list */
.tag {
    display: inline-block;
    padding: 5px 2%;
    border-radius: 5px;
    margin-right: 5px;
    color: black;
}

.red {
    background-color: var(--tag-red)
}

.yellow {
    background-color: var(--tag-yellow)
}

.green {
    background-color: var(--tag-green)
}

.blue {
    background-color: var(--tag-blue)
}

.purple {
    background-color: var(--tag-purple)
}

.task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

/* Overall background of the notes not including text area */
#notes-section {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 7%;
    margin-bottom: 7%;
    border-radius: 10px;
    background-color: var(--palette-off-white);
    position: relative;
}

.language-select {
  position: absolute;
  font-size: 10px;
  top: 15px;
  right: 10px;
  height: 30px;
  width: 85px; /* Adjust this to make the dropdown smaller or larger */
}

.theme-select {
  position: absolute;
  font-size: 10px;
  top: 15px;
  right: 100px;
  height: 30px;
  width: 85px; /* Adjust this to make the dropdown smaller or larger */
}

/* Textarea box for the notes and code */
.textarea {
    width: 100%;
    background-color: var(--palette-off-white);
    height: 200px;
    border: 1px solid black;
    resize: none;
    display: none;
}

/* make current textbox active and visible*/
.active {
    display: block;
}

/* Text and Code button */
.tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling for the Text and Code button */
.tabs button {
  padding: 10px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #e1e1e1;
  transition: background-color 0.3s ease; /* Smooth transition */
}

/* Darken button on hover */
.tabs button:hover {
  background-color: #d1d1d1;
}

/* Darken button when active */
.tabs button.active {
  background-color: #716f6f;
  color: white
}

.left-side {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust as needed */
}

#lastSaved {
  font-size: 0.5em; /* Adjust as needed */
  margin-left: 10px; /* Adjust as needed */
  margin-top: -15px; /* Adjust as needed */
  border: 1px solid #000; /* Adjust as needed */
  padding: 5px; /* Adjust as needed */
  border-radius: 5px; /* Adjust as needed */
  background-color: #dbc2a0;
}


.tab.active {
    background-color: #ccc;
}


/* footer bar making stick to the bottom and design */

footer {
    position: fixed;
    left:0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    background-color: var(--palette-dark-brown);
    padding-top: 0.5%;
    padding-bottom:1.5%;
    padding-left: auto;
}

/* Spacing the buttons out */
.bottom-bar {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

/* Bottom but styling */
.bottom-bar button {
    padding: 10px 5%;
    font-size: 1em;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #e1e1e1;
}

.textarea {
    display: none;
    padding: 10px;
}

#editor {
    display: none;
    height: 300px; /* Adjust height as needed */
}

.textarea.active, #editor.active {
    display: block;
}

.CodeMirror-activeline .CodeMirror-line {
  background: #F6EEE3 !important;
}

.task {
    background-color: #e5decf;
    border: 1px solid #888;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    word-wrap: break-word;
    white-space: pre-wrap;
    box-sizing: border-box;
}